<div class="card" style="max-width: 100%; height: auto;">
    <div class="card-header">
        Data Binding
    </div>
    <img class="card-img-top" src="https://scontent.fbkk5-6.fna.fbcdn.net/v/t39.30808-6/299464472_597384955118198_2095962081375682588_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH8W-uTS09So0xX8B5PXt0pVxSeeUqqgjxXFJ55SqqCPBZ_iqEajuoH0RWXyGPkhTNQkXJ1LjAMZEjThGFaa0T-&_nc_ohc=fgiKzv3ORsYAX_nJsc8&_nc_ht=scontent.fbkk5-6.fna&oh=00_AT9bSNrsnt14MhemmlwFPJrWrkuonFNWMHPTjVjINOlj3A&oe=63008F26 "
        alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">{{getName()}}</h4>
        <p class="card-text">
            <li>StudentID: {{id}}</li>
            <li>Age: {{2022-years}}</li>
        </p>
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
</div>