<div class="card">
  <div class="card-body">
    <h4 class="card-title">2nd: Product ReactiveForm</h4>
    <div class="row">
      <div class="col-md-8">
        <form [formGroup]="productForm">
          //
          <div class="card">
            <div class="card-header">Product Form</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">Product Type (3 pt.):</div>
                <div class="col-md-9">
                  <div class="form-group">
                    <select class="form-control" formControlName="type">
                      <option
                        *ngFor="let item of productType" value="{{ item }}">
                        {{ item }}
                      </option>
                    </select>
                    <div
                      *ngIf="Check.type?.invalid && (Check.type?.dirty || Check.type?.touched)"
                      class="alert alert-danger">
                      <div *ngIf="Check.type?.errors?.['required']">
                        productsType is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">Product ID (1 pt.):</div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="id"
                    />
                    <div
                      *ngIf="Check.id?.invalid && (Check.id?.dirty || Check.id?.touched)"
                      class="alert alert-danger">
                      <div *ngIf="Check.id?.errors?.['required']">
                        productID is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">Product Name (1 pt.):</div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="name"/>
                    <div
                      *ngIf="Check.name?.invalid && (Check.name?.dirty || Check.name?.touched)"
                      class="alert alert-danger">
                      <div *ngIf="Check.name?.errors?.['required']">
                        productName is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">Product Detail (1 pt.):</div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="detail"/>
                    <div
                      *ngIf="Check.detail?.invalid && (Check.detail?.dirty || Check.detail?.touched)"
                      class="alert alert-danger">
                      <div *ngIf="Check.detail?.errors?.['required']">
                        productDetails is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">Quantity (3 pt.):</div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="quantity"/>
                    <div
                      *ngIf="Check.quantity?.invalid && (Check.quantity?.dirty || Check.quantity?.touched)"
                      class="alert alert-danger">
                      <div *ngIf="Check.quantity?.errors?.['required']">
                        quantity is required.
                      </div>
                      <div *ngIf="(Check.quantity?.errors?.['max'] || Check.quantity?.errors?.['min'])">
                        Your quantity is incorrect.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">Price (2 pt.):</div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="price"/>
                    <div
                      *ngIf="Check.price?.invalid && (Check.price?.dirty || Check.price?.touched)"
                      class="alert alert-danger">
                      <div *ngIf="Check.price?.errors?.['required']">
                        Price is required.
                      </div>
                      <div *ngIf="(Check.price?.errors?.['max'] || Check.price?.errors?.['min'])">
                        Your price is incorrect.
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="addProduct()"
                  >
                    Add (3 pt.)
                  </button>
                </div>
                <div class="col-md-2">
                  <button type="reset" class="btn btn-danger">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">Display</div>
          <div class="card-body">
            Form Value:
            <p class="card-text">
              {{ productForm.value | json }}
            </p>
            <br /><br />
            Form Status:{{productForm.status | json }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="card">
  <div class="card-header">โจทย์ส่วนที่ 2 (17 คะแนน)</div>
  <div class="card-body">
    <ul>
      <li>
        (3 คะแนน) Product Type : สามาถรับข้อมูลจากผู้ใช้งานในรูปแบบ Dynamic
        select list ด้วย *ngFor โดยดึงข้อมูลจาก productType ได้
      </li>
      <li>
        (1 คะแนน) Product ID : สามาถรับข้อมูลจากผู้ใช้งานได้ เงื่อนไข คือ
        ผู้ใช้งานจำเป็นต้องกรอก
      </li>
      <li>
        (1 คะแนน) Product Name : สามาถรับข้อมูลจากผู้ใช้งานได้ เงื่อนไข คือ
        ผู้ใช้งานจำเป็นต้องกรอก
      </li>
      <li>
        (1 คะแนน) Product Detail : สามาถรับข้อมูลจากผู้ใช้งานได้ เงื่อนไข คือ
        ผู้ใช้งานจำเป็นต้องกรอก
      </li>
      <li>
        (5 คะแนน) Quantity : สามาถรับข้อมูลจากผู้ใช้งานได้ เงื่อนไข คือ
        ผู้ใช้งานจำเป็นต้องกรอก และผู้ใช้จะต้องกรอกตัวเลขตั้งแต่ 1 - 50 เท่านั้น
        ถ้าไม่เข้าเงื่อนไขแสดง alert ดังตัวอย่าง
      </li>
      <li>
        (2 คะแนน) Price : สามาถรับข้อมูลจากผู้ใช้งานได้ เงื่อนไข คือ
        ผู้ใช้งานจำเป็นต้องกรอก และผู้ใช้จะต้องกรอกตัวเลขตั้งแต่ 1 - 100000
        เท่านั้น
      </li>
      <li>
        (3 คะแนน) Add (button) : สามารถเพิ่มสินค้าใหม่ (push)
        เข้าไปในพร็อพเพอร์ตี้ products ที่อยู่ใน ProductService ได้
      </li>
      <li>
        (1 คะแนน) Display : สามารถแสดงข้อมูลที่ผู้ใช้งานกรอกจาก Product Form
        พร้อมกับบอกสถานะ (status) ของ Form ได้
      </li>
    </ul>
  </div>
</div>
<br />
