<h2>3rd: All Product</h2>
<div class="table-responsive-md">
  <table class="table table-striped table-inverse">
    <thead class="thead-inverse">
      <tr>
        <th>ID.</th>
        <th>Type</th>
        <th>Name</th>
        <th>Detail</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Add to Cart</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getAllProduct(); index as i">
        <td scope="row">{{ item.id }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.detail }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>
          <a
            class="btn btn-outline-primary"
            role="button"
            (click)="AddToCart(i)"
            *ngIf="item.quantity != 0"
          >
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="card">
  <div class="card-header">โจทย์ส่วนที่ 3 (17 คะแนน)</div>
  <div class="card-body">
    <ul>
      <li>
        (5 คะแนน) สามารถนำข้อมูลสินค้าจาก ProductService
        มาแสดงในรูปแบบของตารางได้
      </li>
      <li>
        (5 คะแนน) สามารถเพิ่มสินค้าเข้าไปในตะกร้าสินค้า
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> (cart) ด้วย
        CartService ได้
      </li>
      <li>
        (5 คะแนน) สามารถลดปริมาณสินค้า (quantity) เมื่อสินค้าชิ้นนั้น ๆ
        ถูกเพิ่มเข้าไปในตะกร้าสินค้าด้วย CartService และ ProductService ได้
      </li>
      <li>
        (2 คะแนน) สามารถซ่อนปุ่ม
        <i class="fa fa-cart-plus" aria-hidden="true"></i> เมื่อปริมาณสินค้า
        (quantity) เมื่อสินค้าชิ้นนั้น ๆ มีค่าเป็น 0
      </li>
    </ul>
  </div>
</div>
