<h2>4rd: Cart</h2>
<div class="table-responsive-md">
<table class="table table-striped table-inverse">
    <thead class="thead-inverse">
        <tr>
            <th>ID.</th>
            <th>Type</th>
            <th>Name</th>
            <th>Detail</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getCart(); index as i">
        <td scope="row">{{item.id}}</td>
        <td >{{item.type}}</td>
        <td>{{item.name}}</td>
        <td>{{item.detail}}</td>
        <td >{{item.price}}</td>

      </tr>

    </tbody>
</table>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        <h4>Total :{{getSumPrice()}} </h4>
    </div>
</div>

<br/>

<div class="card">
    <div class="card-header">
        โจทย์ส่วนที่ 4 (7 คะแนน)
    </div>
    <div class="card-body">
        <ul>
            <li>(4 คะแนน) สามารถนำข้อมูลตะกร้าสินค้าจาก CartService มาแสดงในรูปแบบของตารางได้</li>
            <li>(3 คะแนน) สามารถหาผลรวม (total) ของสินค้าทั้งหมดในตะกร้าสินค้า และสามาถนำมาแสดงได้</li>
          </ul>
    </div>
</div>
